.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .main {
    min-width: 450px;
    background-color: var(--app-bg-form);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 30px;

    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;

    .logo{
      width: 100px;
      img{
        width: 100%;
      }
    }

    .header{
      color: var(--white-color);
      text-transform: uppercase;

      text-shadow: 1px 1px 1px #000;
      margin-top: 10px;
    }

    .login-form{
      margin-top: 15px;
      width: 100%;
      .login-form-button{
        width: 100%;
        text-transform: uppercase;
      }
    }
  }
}